<div>
  <form [formGroup]="myGroup" class="form-container" (ngSubmit)="proceed()">
    <mat-form-field appearance="outline">
      <mat-label>Old password</mat-label>
      <input matInput name="oldPassword" formControlName="oldPassword"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>New password</mat-label>
      <input matInput name="newPassword" formControlName="newPassword"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input matInput name="confirmPassword" formControlName="confirmPassword"/>
    </mat-form-field>


    <button type="submit" mat-flat-button color="primary">Ok</button>
  </form>
</div>



