.toolbar-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.admin-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.end-buttons-block{
  display: flex;
  align-items: center;
}
.end-buttons-block button:first-child{
  margin-right: 25px;
}
.end-buttons-block button{
  margin-right: 10px;
}

.end-buttons-block button:last-child{
  margin-right: 0px;
}

