
  <mat-toolbar color="primary">
    <mat-toolbar-row class="toolbar-container">

        <div class="unselectable-item">
          <span>E-Shop</span>
        </div>
        <div class="nav-buttons-block">
          <button mat-flat-button color="primary">Home</button>
          <button mat-flat-button color="primary">Catalog</button>
          <button mat-flat-button color="primary">About</button>
        </div>
        <div class="profile-block">
          <button mat-flat-button color="warn">Log in</button>
          <button mat-flat-button >Sign up</button>
        </div>


    </mat-toolbar-row>
  </mat-toolbar>

